@page "/"
@rendermode InteractiveServer
@using System
@using System.Collections.Generic
@using System.IO
@using System.Linq
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using CertiPurge.Data

@using OCR

@using Microsoft.AspNetCore.Authorization
@using OCR;

@using Tesseract
@inject IJSRuntime JS
@inject ApplicationDbContext DbContext

@attribute [Authorize]


<PageTitle>Home</PageTitle>

<div class="pt-8" <table>
	<thead class="bg-red-700">
		<tr class="text-white">
			<th>Name</th>
			<th>Course</th>
			<th>Grade</th>
			<th>Centre Number</th>
			<th>Exam Board</th>
			<th>Candidate Number</th>
		</tr>

	</thead>
	<tbody>
		@foreach (var cert in CertificatesData)
		{
			<tr class="">
				<td>@cert.Name</td>
				<td>@cert.Course</td>
				<td>@cert.Grade</td>
				<td>@cert.CentreNumber</td>
				<td>@cert.ExamBoard</td>
				<td>@cert.CandidateNumber</td>
			</tr>
		}
	</tbody>
	</table>
</div>
<button
	class="text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-md text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800"
	@onclick="() => ExportCSV()">Export certificates to Excel</button>

@code {
	public class FileData
	{
		public string Name { get; set; } = "";
		public string Data { get; set; } = "";
		public long Size { get; set; }
		public string Type { get; set; } = "";
	}

	public List<CertiPurge.Data.Certificate> CertificatesData = new();

	public bool IsProcessing { get; set; } = false;

	protected override async Task OnInitializedAsync()
	{
		CertificatesData = DbContext.Certificates.ToList();
	}
}