@page "/"
@using Tesseract;
@using global::Tesseract
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="image-container">
	<p>Name: @name</p>
	<p>Course: @course</p>
	<p>Grade: @grade</p>
	<p>Centre Number: @centrenum</p>
	<p>Candidate: @candidate</p>
</div>

<button @onclick="Scan">Scan</button>

@code {

	public string[] Lines = Array.Empty<string>();

	public string name = "";
	public string course = "";
	public string grade = "";
	public string centrenum = "";
	public string candidate = "";

	public void Scan()
	{
		using var engine = new TesseractEngine(@"./tessdata", "eng", EngineMode.Default);

		using var img = Pix.LoadFromFile(@"./Samples/BTEC.png");

		using var page = engine.Process(img);

		var text = page.GetWordStrBoxText(1);

		if (text.Split("\n")[0].Trim().Contains("AQA"))
		{
			AQAReader.ReadAQA(text, out name, out course, out grade, out centrenum, out candidate);
		} else if (text.Split("\n")[0].Trim().Contains("BTEC"))
		{
			BTECReader.ReadBTEC(text, out name, out course, out grade, out centrenum, out candidate);
		}
	}
}